body {
    background-image: url('Images/Read.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
  }
button{
    background-color: hsl(271, 78%, 53%);
    border-radius: 30px;
    font-size: 20px;
}
button:hover{
    background-color: hsl(271, 78%, 83%);
}
.navbar{
    background-color: hsl(0, 47%, 0%);
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 20%);

}
h1{
    text-align: center;
}
input{
    font-size: 20px;
}
label{
    font-size: 20px;
}
#study-log{
    font-size: 25px;
}
#timer-display{
    margin:20px 20px 20px 20px;
    text-align: center;
    font-size: 50px;
}
#total-study-time{
    font-size: 25px;
}
p{
    text-align: center;
    font-size: 40px;
}