body{
    font-family: "Arial", sans-serif;
    background-color: blanchedalmond;
}
.container{
    max-width: 500px;
    margin: auto;
    background-color: antiquewhite;
    padding: 1px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
label,input,button{
    margin: 10px 0;
    box-sizing: border-box;
}
input{
    width: 100%;
    margin-top: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th,td{
    padding: 5px;
    border: 1px solid whitesmoke;
    text-align: center;
}
th{
    background-color: aqua;
    color: white;
}

button{
    background-color: aqua;
    color: white;
    padding: 5px;
    border: none
}
button:hover{
 background-color: rgba(0, 255, 255, 0.427);   
}


.navbar{
    background-color: hsl(0, 47%, 0%);
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 20%);

}